//Colores
$white: #FFF;
$sabeline: #EEEDED;
$spanishgray: #8F9199;

$coral:  #FFD700;
$buff: #F1DD7B;
$vanilla: #F5E7A1;

$flame: #E4572E;
$ligthred: #E87554;
$pastelpink: #F2B2A0;

$shamrock: #4CA866;
$tgreen: #9DCFAB;
$pastelgray: #BDDFC7;

$bluefance: #3C91E6;
$bluejeans: #5FA5EA;
$bluejordi: #82B9EF;

$black: #000000;
$outerspace: #454545;
$quicksilver: #A2A2A2;

// Tipografia
$mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

// Peso de Fuente
$ligth: 300;
$regular: 400;

//Tamaño de la Fuente
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
